.filmCardWrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.filmCardImage {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.filmCardInfo {
  flex: 1;
}

.filmCardTitle {
  font-size: 32px;
  margin-bottom: 15px;
  color: whitesmoke;
}

.filmCardInfo :global(h3) {
  margin-top: 20px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.filmCardInfo :global(p) {
  line-height: 1.6;
  color: whitesmoke;
}
