.navigation {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #2c2c2c;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: rgb(165, 14, 14);
}

.active {
  color: rgb(165, 14, 14);
}
