.searchBar {
  padding: 20px;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.searchFormButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: rgb(165, 14, 14);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchFormButton:hover {
  background-color: rgb(140, 12, 12);
}

.searchFormInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
}

.searchFormInput:focus {
  outline: none;
  border-color: rgb(165, 14, 14);
}
